.whole{
	background-color: #fefee6;
	margin: 0;
}

.title {
	font-family: 'Lobster', cursive;
	font-size: 1000%;
	color: #ff9999;
	text-shadow: 1px 1px 5px #ffffff;
	margin: 0 auto;
	display: inline-block;
	padding-top:4%;
}


.middle {
	vertical-align: middle;
	text-align: center;
}

.speechbtn {
	margin:0 auto;
	text-align: center;
	outline : none;
}

#asr_go{
	width:15ex;
	height:auto;
	outline : none;
}

#asr_viz {
	width:50ex;
	height:auto;
	margin:0 auto;
	padding: 10px;
}

.output {
	font-family: 'Lobster', cursive;
	font-size: 300%;
	color: #ff9999;
	text-shadow: 1px 1px 5px #ffffff;
	margin: 0 auto;
	display: inline-block;
	padding-top:4%;
}

.btn {
	size: 10%;
	border-radius: 50%;
	background-color: transparent;
	outline: none;
	border: none;
	display: inline-block;
}
