.whole{
	background-color: #fefee6;
	margin: 0;
}

.title {
	font-family: 'Lobster', cursive;
	font-size: 1000%;
	color: #ff9999;
	text-shadow: 1px 1px 5px #ffffff;
	margin: 0 auto;
	display: inline-block;
	padding-top:7%;
	padding-bottom: 4%;
}


.middle {
	vertical-align: middle;
	text-align: center;
}



.btn {
	border-radius: 50%;
	background-color: transparent;
	border: none;
	outline: none;
}

.speechbtn {
	margin:0 auto;
	text-align: center;
}
